body {
  background: #f9f9f9;
  font-family: sans-serif;
  background-color: grey;
  width: 100%;
}
h1 { font-size: 16px;}
h2{ font-size: 12px;}
a {
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

#header {
  max-width: auto;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid blue;
}

img {
  width: 30px;
}

nav {
  padding: 10px;
  border: 1px solid black;
  word-spacing: 16px;
}

nav > img {
  width:10px;
}

.subscribe {
  background-color: #f9f9f9;
  padding: 10px;
  width:90%;
  margin: 30px;
  overflow: auto;
  display: inline-block;
}

.subscribe img {
  margin-top: 0px;
  width: 10px;
  float: right;
  display: inline-block;
}

.subscribe p {
  align-content: center;
  font-size: 10px;
  display: inline-block;
}

#left-content {
  width:60%;
  border: 1px dashed green;
  margin: 30px;
  padding: 10px;
  box-sizing: border-box;
  float: left;
}



.popular-this-week{
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid yellow;
  overflow: auto;
}

.pop-images {
  display:flex;

}
.close-btn{
  width: 10px;
  float: right;
  margin-top: -50px;

}
.show-more{
  text-align: center;
  font-size: 8px;
}
.show-more img{

  width: 10px;
}
.today {

  background-color: #f9f9f9;

}


#right-content {
  background-color: #f9f9f9;
  width: 20%;
  padding: 20px;
  float: right;
  margin: 40px;
}
.kittybot{}
.upcoming-chats{}
.tweets{}


Extra-Small Styles
 .subscribe {
  display: none;
}
#right-content {
  display: none;
}

Small Styles
@media (min-width: 600px) {}
#right-content {
  display: none;
}

Medium Styles
@media (min-width:992px) {}


Large Styles
@media (min-width:1200px) {}
