
@media (min-width: 600px) {

html {
  background-color: grey;
}
body {
  background: white;
  color: lightgrey;
  font-family: sans-serif;
}

header {
  .logo{
    width: 40px;
  }
  .search{
    margin-bottom: 12px;
    width: 16px;
  }
  h6{
    display: inline;
    margin: 2px
  }
  .login{
    display: inline;
    float: right;
    margin: auto;
    padding: 14px;
  }

  /* ______________*/
  .menu {
    font-size: 12px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
  }

  li a:hover {
    background-color: lightgrey;
    color: black;
  }
  .arrows {
    float: left;
    padding: 10px;
    width: 44px;
  }
}

.subscribe {
  display: none;
}

/* _______________*/
.this-week{
  color: black;
  font-weight: lighter;
  display: inline;

  .popular{
    border-bottom: 1px solid lightgrey;
  }
  h4{
    margin-left: 102px;
    margin-bottom: -6px;
    font-weight: lighter;
  }
  h4.descrip {
    font-weight: lighter;
    color: lightgrey;
    margin-top: 9px;
    font-size: 14px;
  }
  img {
    float: left;
  }

  .litles {
    margin: 21px;
    margin-left: 102px;
  }
  .duolingo{
    border-bottom: 1px solid lightgrey;
    height: 96px;
  }

  .facebook {
    border-bottom: none;
  }

}

.showmore {
  margin-top: 70px;
  text-align: center;
  font-size: 12px;
  p {
    display: inline;
  }
}
    .side-letters {
      float: right;
      margin: 0px;
      margin-top: -12px;
      font-weight: lighter;
    }
}

@media (min-width: 1200px) {
  body {
    margin: 85px 85px auto;
    background-color: #f9f9f9;
    color: lightgrey;
    font-family: sans-serif;
    font-weight: lighter;
  }

  header {
    .logo{
      width: 40px;
    }
    .search{
      margin-bottom: 12px;
      width: 16px;
    }
    h6{
      display: inline;
      margin: 2px
    }
    .login{
      display: inline;
      float: right;
      margin: auto;
      padding: 14px;
    }

    /* ______________*/
    .menu {
      font-size: 20px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: grey;
      text-align: center;
      padding: 19px 18px;
      text-decoration: none;
    }

    li a:hover {
      background-color: lightgrey;
      color: black;
    }
    .arrows {
      float: left;
      padding: 10px;
      width: 52px;
      margin-top: 6px;
    }
  }
  /* _______________*/

  .subscribe{
    background-color: black;
    height: 83px;
    margin: 20px 20px;
    display: block;
  }

  .box1 {
    width: 60%;
    border: 2px solid white;
    background-color: white;
    margin-bottom: 20px;
  }

  .box1,
  .side-bottom,
  .subscribe,
  .box2 {
    background-color: white;
  }
  .side-top {
    float: right;
    width: 30%;

  }
  .orange {
    height: 30px;
    background-color: orange;
    margin: 19px 25px;
   }
   .side-bottom {
     float: right;
     width: 30%;
     margin: -19% 0%;

   }

  .box2 {
    width: 60%;
    border: 2px solid white;
  }
  .this-week{
    color: black;
    font-weight: lighter;
    display: inline;


    .popular{
      border-bottom: 1px solid lightgrey;
    }
    h4{
      margin-left: 102px;
      margin-bottom: -6px;
      font-weight: lighter;
    }
    h4.descrip {
      font-weight: lighter;
      color: lightgrey;
      margin-top: 9px;
      font-size: 14px;
    }
    img {
      float: left;
    }

    .litles {
      margin: 21px;
      margin-left: 102px;
    }
    .duolingo{
      border-bottom: 1px solid lightgrey;
      height: 96px;
    }

    .facebook {
      border-bottom: none;
    }

  }

  .showmore {
    margin-top: 70px;
    text-align: center;
    font-size: 12px;
    p {
      display: inline;
    }
  }
      .side-letters {
        float: right;
        margin: 0px;
        margin-top: -12px;
        font-weight: lighter;
      }
  }
