:root{
  --grey: grey;
  --white: white;
}

body{
  background-color: var(--grey);
  margin: 0;
}

.header{
  background: var(--white);
}

.header-wrapper{
  width: 1200px;
  margin: auto;
  display: flex;
}

.header-wrapper-search{}

.header-wrapper-search-logo{
  width: 60px;
}

.header-wrapper-search-logo > img{
  width: 100%;
}
