body {
  background-color: #FFF;
  margin:0;
  padding:0;
}

.navi {
  background-color: green;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

.welcome {
  background-color: red;
  height: 80px;
  margin-left: 25px;
  margin-right: 25px;
}

.main {
  margin-top: 20px;
  background-color: #FFF;
  height: 750px;
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.main1 {
  height: 375px;
  margin-bottom: 20px;
  background-color: blue;
}

.main2 {
  height: 375px;
  background-color: yellow;
}

.rigth {
  margin-top: 20px;
  background-color: black;
  float: right;
  height: 750px;
  width: 20%;
  margin-right: 10px;
}

.section1 {
  height: 150px;
  background-color: orange;
  margin-bottom: 20px;
}

.section2 {
  height: 600px;
  background-color: purple;
}
@media (max-width: 922px) {
  .rigth {
    display: none;
  }

  .main {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .welcome {
    display: none;
  }

  .main {
    position: relative;
    top: -30px;
  }
}
