$bordercolor: #f4f4f4;

.list-item {
  border-bottom: 1px solid $bordercolor;
  height: 5rem;
  display: flex;
  background-color: white;

  img {
    width: 3.5rem;
    margin: 0.5rem 0.7rem 0.5rem 0.5rem;
  }

  h3 {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
  }

  p {
    font-size: 0.7rem;
  }

  .list-item-text-content {
    margin-left: 0.2rem;
  }

  &.last {
    border-bottom: 0;
  }

}

.list-button-container {

  margin-top: 0.5rem;
  display: flex;

  button {
    border: 0.5px solid gray;
    height: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    line-height: 1rem;
    border-radius: 10%;
    margin-right: 0.5rem;
    background-color: white;
    color: gray;

    &.active {
      color: black;
    }
  }
}
